spring:
  application:
    name: gateway

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  cloud:
    gateway:
      routes:
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/bookings/**
        - id: hotel-service
          uri: lb://hotel-service
          predicates:
            - Path=/api/hotels/**

